{% extends "base.html" %}

{% block title %}Clientes | DR Reparos ERP{% endblock %}

{% block content %}

<header class="topo">
    <div style="margin-bottom: 15px;">
    <button type="button"
            class="btn-voltar"
            onclick="history.back()">
        ← Voltar
    </button>
</div>
    <div>
        <h1>👥 Clientes</h1>
        <p>Cadastro e gerenciamento dos clientes da DR Reparos.</p>
    </div>

    <a href="{{ url_for('novo_cliente') }}" class="btn-principal">
        + Novo Cliente
    </a>
</header>


<section class="painel">

    <div style="margin-bottom: 20px;">
        <h2>Clientes cadastrados</h2>
        <p>{{ clientes|length }} clientes encontrados</p>
    </div>


    <div class="tabela-container">

        <table class="tabela-erp">

            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>Cadastro</th>
                </tr>
            </thead>

            <tbody>

                {% for cliente in clientes %}

                <tr>
                    <td>
                        <strong>{{ cliente.nome }}</strong>
                    </td>

                    <td>
                        {{ cliente.telefone }}
                    </td>

                    <td>
                        {{ cliente.endereco or "-" }}
                    </td>

                    <td>
                        {% if cliente.data_cadastro %}
                            {{ cliente.data_cadastro.strftime("%d/%m/%Y") }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>

                {% else %}

                <tr>
                    <td colspan="4">
                        Nenhum cliente cadastrado.
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</section>


<div style="margin-top: 25px;">
    <a href="{{ url_for('inicio') }}" class="btn-secundario">
        ← Voltar ao Dashboard
    </a>
</div>

{% endblock %}